* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .page-bg {
    height: 100vh;
    background: linear-gradient(135deg, #a6a4a4, #cc4f4f, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 10px 0;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #2196f3;
    border: none;
    color: white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #1769aa;
  }
  
  a {
    color: #2196f3;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .google-btn {
    background-color: #e00606;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .google-btn:hover {
    background-color: #27de0b;
  }

  .logo {
    width: 90px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 20px auto; /* Center the logo */
    display: block; /* Ensure it's treated as a block element */
    border-radius: 25px;
  }

  @font-face {
    font-family: 'Three-Sixty Condensed';
    src: url('ThreSxCd.ttf') format('woff2'),  /* Recommended for best performance and support */
         url('ThreSxCd.ttf') format('woff');    /* Fallback for older browsers */
  }

  /* Modal Styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .modal-content h2 {
    font-size: 24px;
    color: #2196f3;
    margin-bottom: 10px;
  }

  .modal-content p {
    font-size: 16px;
    color: #333;
  }

  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close-btn:hover,
  .close-btn:focus {
    color: #000;
    text-decoration: none;
  }
